<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @business.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @business.description %>
</p>

<p>
  <strong>Image:</strong>
  <img src="<%= @business.image %>"/>
</p>

<ul>
  <% @business.rewards.each do |reward| %>
    <li>
      <%= reward.name %>
      <%= reward.klopps %>
      <%= reward.is_active %>
      <img src="<%= reward.image %>" />
      <%= link_to 'Edit', edit_reward_path(reward) %></td>
    </li>
  <% end %>
</ul>

<%= render '/rewards/form', reward: Reward.new, business_id: @business.id %>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
