<p id="notice"><%= notice %></p>

<%= link_to 'Back', businesses_path, class:'waves-effect waves-light teal btn' %>

<h2><%= @business.name %> (<%= @business.is_active ? "active" : "inactive" %>)</h2>

<img src="<%= @business.image %>"/>

<p><%= @business.description %></p>


<div align="right">
  <%= link_to edit_business_path(@business),class:'btn-floating btn-large waves-effect waves-light teal' do %>
    <i class="material-icons">mode_edit</i>
  <% end %>
</div>

<h3>Rewards</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Klopps</th>
      <th>Is active</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
		<% @business.rewards.each do |reward| %>
      <tr>
				<td><%= reward.name %></td>
				<td><%= reward.klopps %></td>
				<td><%= reward.is_active ? "Yes" : "No" %></td>
				<td><img height="100" src="<%= reward.image %>" /></td>
        <td>
          <%= link_to edit_reward_path(reward),class:'btn-floating btn-large waves-effect waves-light teal' do %>
						<i class="material-icons">mode_edit</i>
					<% end %>
        </td>
      </tr>
		<% end %>
  </tbody>
</table>

<% if @business.rewards.size == 0 %>
  <p>There are no rewards for this business </p>
<% end %>

<h3>Add new reward</h3>

<%= render '/rewards/form', reward: Reward.new, business_id: @business.id %>
