<%= form_for(reward) do |f| %>
  <% if reward.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reward.errors.count, "error") %> prohibited this reward from being saved:</h2>

      <ul>
      <% reward.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% if reward.business_id %>
      <%= f.hidden_field :business_id %>
    <% else %>
      <%= f.hidden_field :business_id, value: business_id %>
    <% end %>
  </div>

  <div class="row">
		<div class="input-field col s6">
		  <%= f.label :name %>
		  <%= f.text_field :name, id:'name' %>
		</div>

		<div class="input-field col s6">
		  <%= f.label :klopps %>
		  <%= f.number_field :klopps %>
		</div>
  </div>

  <div class="row">

    <div class="file-field input-field col s6">
      <div class="btn">
        <span>Image</span>
        <%= f.file_field :image %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>

		<div class="input-field col s6">
		  <%= f.check_box :is_active, id: 'is_active' %>
		  <%= f.label :is_active, for: 'is_active' %>
		</div>
  </div>

  <div class="actions">
		<div align="right">
		  <%= button_tag( :class => "btn-floating btn-large waves-effect waves-light teal") do %>
		    <i class="material-icons">done</i>
		  <% end %>
		</div>
  </div>

<% end %>
