<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reward.name %>
</p>

<p>
  <strong>Bussiness:</strong>
  <%= @reward.bussiness_id %>
</p>

<p>
  <strong>Klopps:</strong>
  <%= @reward.klopps %>
</p>

<p>
  <strong>Image:</strong>
  <%= @reward.image %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @reward.is_active %>
</p>

<%= link_to 'Edit', edit_reward_path(@reward) %> |
<%= link_to 'Back', rewards_path %>
