<!DOCTYPE html>
<html>
  <head>
    <title>RailsProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

		<% if !current_user %>
			<%= link_to "Sign in", "/users/sign_in" %>
		<% else %>
			<%= link_to destroy_user_session_path, :method => :delete  do %>Sign out<%end%>
		<%end%>

    <%= yield %>
  </body>
</html>
